body {
    margin: 0;
    padding: 0;
}
h4 {
  color: navy;
}

h3 {
  color: navy;
}

h2 {
  color: navy;
  text-align: center;
}

.navbar{
  background-color: navy;
}
a {
  color: navy;
  font-weight: bold;
}

#magickind {
   color: rgb(128,128,0);
   font-weight: bold;
   margin: 0;
  
}

.container {
  max-width: 1500px;
  margin: auto;
  background-color: beige;
}

.container>div {
  box-sizing: border-box;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  color: navy;
  flex-basis: 35%;
}

@media (min-width: 1000px;) {
    .container {
    display: flex;
    justify-content: space-between;
    }
}

img {
  width: 100%;
  height: 100%;
  margin: 1px;
  padding: 1px;
  border: 2px dotted white;
  flex: 1;
}

p {
  width: 100%;
  height: 100%;
  margin: 3px;
  padding: 1px;
  border: 2px dotted white;
  flex: 1;  
}

.mbox {
  box-sizing: border-box;
  margin-left: 1%;
    width: 100%;
    height: 500px;
    border: 3px solid navy;

}

.missionbox {
  box-sizing: border-box;
  margin-left: 1%;
    width: 500px;
    height: auto;
    border: 3px solid navy;
}