body{
  margin: 0;
  padding: 0;
}

/* Top Banner section */
.good-life__header {
  text-align: center;
  background-color: beige;
  margin: 0;
  padding-top: 5px;

}

/* Add padding to container elements */
.container {
  padding: 16px;
}

i {
  color: rgb(128,128,0);
}

a {
  color: navy;
  font-weight: bold;
}

h2 {
  color: navy
}
h3 {
  color: navy
}

p {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: navy;
  line-height: 24px;
  text-align: center;
}

.cfloats {
  clear: both;
  overflow: auto;
}

.column {padding: 25px;}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

@media (min-width: 769px) {
  .bgscrn {
    display: inline-block;
  }
  .smscrn {
    display:none;
  }

@media screen and (max-width: 769px) {
  .bgscrn {
      display: none;
    }

  .smscrn {
      display: inline-block;
    }
    
  .content {
    padding: 16px;
    }
      
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }
    
  .sticky + .content {
    padding-top: 10px;
    }
  }