body{
  margin: 0;
  padding: 0;
}

/* Top Banner section */
.good-life__header {
	text-align: center;
	background-color: beige;
	color: navy;
	margin: 0px 5px -30% 5px;
	padding: 10px 16px;
	width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}


a {
  color: navy;
  font-weight: bold;
}


h2 {
  color: navy
}

h3 {
  color: navy
}
.poempanel {
  text-align: center;
  background-color: white;
  color: navy;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: navy;
  line-height: 24px;
  text-align: center;
}

.cfloats {
  clear: both;
  overflow: auto;
}

.column {padding: 25px;}
* {box-sizing: border-box}



@media screen and (max-width: 769px) {
	.bgscrn {
      	display: none;
  	}
  	.smscrn {
    	display: inline-block;
	  }
	  .content {
		padding: 16px;
	  }
	  
	  .sticky {
		position: fixed;
		top: 0;
		width: 100%;
	  }
	  
	  .sticky + .content {
		padding-top: 10px;
	  }
}

@media (min-width: 769px) {
  .bgscrn {
      	display: inline-block;
  }
  .smscrn {
    display: none;
  }
}