<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/award_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->

  <div class="good-life__header">
    <center><h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2></center>
  </div>

<!–– First Row  -->
<div class="container-fluid">
    <center><h2 class="magickind">Do you know anyone that does good deeds? Do a good deed and recognize them. Download below and give to them.</h2></center>

</div>

<div class="container">

<!–– Row -->
      <div>   
            <center><img class="img-fluid" src="{{usfiles[0]}}" alt="Awesome Person Award"></center>
      </div>
      
      <div class="btn-group" class="cfloats">
          <center>
           <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>

           <a href="{{usfiles[0]}}" download class="btn btn-primary btn-lg" >Download The Award</a>

           <a href="/media" class="btn btn-primary btn-lg" role="button">Media</a>

          </center>
      </div>


</div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>      