<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/stories_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="container">
    <div class="row">

<!–– Row 7 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">Buddha and The Angry Man</h1></center>
      <img src="\static\assets\BuddhaAngryMan.jpg" alt="Angel" height="300" width="350">
      <p>One day Buddha was walking through a village. A very angry and rude young man came up and began insulting him.</br></br>

        “You have no right teaching others,” he shouted. “You are as stupid as everyone else. You are nothing but a fake.”</br></br>

        Buddha was not upset by these insults. Instead he asked the young man if he had any friends or relatives.</br></br>

        “Yes.” the man replied.</br>
        “When you visit them, do you take them gifts?” the Buddha asked.</br></br>

        “Of course, I always bring them gifts.” the angry man replied.</br></br>

        “Then what happens if they don’t accept your gifts?” Buddha asked.</br></br>

        “Well I take them home and enjoy them with my own family”</br></br>

        “And likewise,” said the Buddha, “You have brought me a gift here today that I do not accept.</br> And so you may take that gift back home to your family.”</br></br>

        “It is exactly the same with your anger. If you become angry with me and I do not get insulted, then the anger falls back on you. </br>
        You are then the only one who becomes unhappy, not me. All you have done is hurt yourself.”</br></br>

        “If you want to stop hurting yourself, you must get rid of your anger and become loving instead. </br>When you hate others, you yourself become unhappy. But when you love others, everyone is happy.”</p>

      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>
      <a href="/t2wolves" class="btn btn-primary btn-lg" role="button">The Two Wolves</a>
      <a href="/batam" class="btn btn-primary btn-lg" role="button">Buddha And The Angry Man</a>
      <a href="/tstarfish" class="btn btn-primary btn-lg" role="button">The Boy And The Starfish</a>
      <a href="/farm" class="btn btn-primary btn-lg" role="button">Miss Put-Put</a><a href="/tpc1" class="btn btn-primary btn-lg" role="button">The Phone Call</a>
      <a href="/media" class="btn btn-primary btn-lg" role="button">Media</a>

    </div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>      