<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/diostyles.css">

</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="fixed-container">

<!–– Row -->

      <div class="bbox">  
            <img src="{{usfiles[0]}}" alt="Did I offer">
      </div>
      <div class="bbox"> 
            <img src="{{usfiles[1]}}" alt="Be That one">
      </div>
      <div class="bbox">
            <img src="{{usfiles[2]}}" alt="Some Good Deeds">
      </div>

      <div class="bbox">
            <img src="{{usfiles[3]}}" alt="Imagne">
      </div>
      <div class="bbox">
            <img src="{{usfiles[4]}}" alt="Kindness Can">

      </div> 
      <div class="bbox">
            <img src="{{usfiles[5]}}" alt="Nowhere">
      </div> 
 
      

      <div class="cfloats">
      <center>
        <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>
        <a href="/didIoffer" class="btn btn-primary btn-lg" role="button">Collage1</a>
        <a href="/didIoffer2" class="btn btn-primary btn-lg" role="button">Collage2</a>
        <a href="/didIoffer3" class="btn btn-primary btn-lg" role="button">Collage3</a>
        <a href="/cert" class="btn btn-primary btn-lg" role="button">Cert of Awesomeness</a>
        <a href="/speech" class="btn btn-primary btn-lg" role="button">The Speech</a>
        <a href="/poem1" class="btn btn-primary btn-lg" role="button">Poems</a>
        <a href="/t2wolves" class="btn btn-primary btn-lg" role="button">Stories</a>
        <a href="/gdlinks" class="btn btn-primary btn-lg" role="button">Links</a>
      </center>
      </div><iframe id="hiddencert" src="{{usfiles[1]}}"></iframe></div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>      