<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>
	<div class="container-fluid">
	  <center><h2>THE GOOD LIFE = GOOD PEOPLE DOING GOOD THINGS/DEEDS FOR THE GOOD OF ALL</h2></center>
	</div>

<!–– First Row  -->
<div class="container-fluid">
    <center><h1 id="magickind">Good Deeds/Kindness Videos from around the Internet</h1></center>
    <div>
</div>

<!–– Container  -->

<div>
      <div class="cfloats">  
        <div class="ilbox" style = "float: left">
        	<h2><u>Click any of the links below: </u></h2>

            <a href="https://www.youtube.com/embed/O9UByLyOjBM?autoplay=1;rel=0" target="iframe_a" style = "float: left">The Science of Doing Good</a></br></br>

            <a href="https://www.youtube.com/embed/wgVGel-XfWo?autoplay=1;rel=0" target="iframe_a" style = "float: left">Good Deeds Day each April</a></br></br>

            <a href="https://www.youtube.com/embed/dve7Pgd4_gA?autoplay=1;rel=0" target="iframe_a" style = "float: left">THE GOOD LIFE: Do Good Deeds Speech</a></br></br>

            <a href="https://www.youtube.com/embed/ghwG8u4Qh5E?autoplay=1;rel=0" target="iframe_a" style = "float: left">Why Kindness Matters</a></br></br>

            <a href="https://www.youtube.com/embed/D38S9o_6qnc?autoplay=1;rel=0" target="iframe_a" style = "float: left">Powerful video Can't explain it just watch-perspective</a></br></br>

            <a href="https://www.youtube.com/embed/oHv6vTKD6lg?autoplay=1;rel=0" target="iframe_a" style = "float: left">An Experiment in Gratitude | The Science of Happiness</a></br></br> 

            <a href="https://www.youtube.com/embed/YYnWsAoGRPE?autoplay=1;rel=0" target="iframe_a" style = "float: left">Kindness can be the norm</a></br></br>

            <a href="https://www.youtube.com/embed/Yc0zl4u0x8A?autoplay=1;rel=0" target="iframe_a" style = "float: left">Good Deed: 30 Random Acts of kindness</a></br></br> 

            <a href="https://www.youtube.com/embed/vDmaZYYgUqA?autoplay=1;rel=0" target="iframe_a" style = "float: left">THE GOOD CARDS #HappinessInYourHands  www.thegoodcards.com</a></br></br>

            <a href="https://www.youtube.com/embed/BXAo_5voOP0?autoplay=1;rel=0" target="iframe_a" style = "float: left">Kindness Counts: "Kindness is a Muscle" Sing-A-Long Lyric Music Video | Universal Kids</a></br></br></br> 

            <a href="https://www.youtube.com/embed/ovj5dzMxzmc?autoplay=1;rel=0" target="iframe_a" style = "float: left">Ripple - To The Good Samaritans In Our Lives: Thank You. // Viddsee.com</a></br></br>            

            <a href="https://www.youtube.com/embed/p7UUZo8Yh34?autoplay=1;rel=0" target="iframe_a" style = "float: left">Incredible Acts Of Kindness Of People Paying it Forward</a></br></br>

          <div div class="lbbox" style = "float: left"><a href="/" class="btn btn-primary btn-lg" role="button" style = "float: left">Home</a><a href="/cert" class="btn btn-primary btn-lg" role="button" style = "float: left">Cert of Awesomeness</a><a href="/speech" class="btn btn-primary btn-lg" role="button" style = "float: left">The Speech</a></br><a href="/poem1" class="btn btn-primary btn-lg" role="button" style = "float: left">Poems</a><a href="/t2wolves" class="btn btn-primary btn-lg" role="button" style = "float: left">Stories</a><a href="/gdlinks" class="btn btn-primary btn-lg" role="button" style = "float: left">Links</a><a href="/didIoffer" class="btn btn-primary btn-lg" role="button" style = "float: left">Collages</a>
      	  </div>

      </div>

          <div class="resp-container">
              	<iframe class="resp-iframe" style="float: right; margin: 0px;" src="{{usfiles[0]}}" name="iframe_a"frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

      </div>
      
</div>
 
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>