<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style/gdRoulette_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <div class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </div>

<!–– Container  -->

<div class="container">
<div>   
          <img class="img-fluid centered" src="{{usfiles[0]}}" alt="Certificate of Awesomeness">

 
  <div>
    <center>
        <div class="container">
            </br>
            <a href="/mygooddeed" class="btn btn-primary btn-lg" role="button">Good Deeds Ideas Generator</a><a href="/" class="btn btn-primary btn-lg" role="button">Home</a>
            </br><h2> Need a few new good deeds ideas? </h2>
            </br></br>                        
             <div id="goodidea" >{{mydeed}}</div>  
        </div>  
    </center>

  </div>   

</div> 
</div>   

        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
</body>
</html> 