<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">THE GOOD LIFE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/mission">Mission Statement</a></li>
      <li><a href="/speech">The Speech</a></li>
      <li><a href="/cert">Certificate of Awesomeness</a></li>
      <li><a href="/award">Awesome Person Award</a></li>
      <li><a href="/didIoffer">Collages</a></li>
      <li><a href="/poem1">Poems</a></li>
      <li><a href="/t2wolves">Stories</a></li>
      <li><a href="/gdvids">Videos</a></li>
      <li><a href="/su">SignUp</a></li>
    </ul>
  </div>
</nav>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/index_styles.css">

</head>
<body>      

  
<div class="container-fluid">
  <center><h2>THE GOOD LIFE = GOOD PEOPLE DOING GOOD THINGS/DEEDS FOR THE GOOD OF ALL</h2></center>
</div>

<!–– First Row  -->
<div class="container-fluid">
    <center><h4> <strong>WANT TO LIVE THE GOOD LIFE?</strong> Simply do a <strong>GOOD DEED</strong> or <strong>SIMPLE ACT OF KINDNESS</strong> and you will be living <strong>THE GOOD LIFE</strong> in those moments.</h4></center>

<div class="container">
  <div>
  <img src="{{usfiles[0]}}" alt="Journey of Kindness">
  </br>
  <p> <center><strong>Greetings and Welcome Thank you for coming!</strong> <strong>Want to hear some GOOD NEWS? &#128526</strong></center>You have come to the right place! We are all about inspiring and spreading kindness and magnifying <strong>THE GOOD NEWS</strong></br> We are looking for team players, to be awesome and do good deeds.Feeling <strong>AWESOME</strong>? Want to <strong>LIVE THE GOOD LIFE?</strong> </br>Simply do good deeds to join a growing team of <strong>AWESOME people.</strong> To get started click below. <a href="/mission" class="btn btn-primary btn-lg" role="button">Cool Suff</a> </p>
  </div>
</div>


   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>  
</html> 