<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>      
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">THE GOOD LIFE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/mission">Mission Statement</a></li>
      <li><a href="/speech">The Speech</a></li>
      <li><a href="/cert">Certificate of Awesomeness</a></li>
      <li><a href="/didIoffer">Collages</a></li>
      <li><a href="/poem1">Poems</a></li>
      <li><a href="/t2wolves">Stories</a></li>
      <li><a href="/gdlinks">Links</a></li>
      <li><a href="/su">SignUp</a></li>
    </ul>
  </div>
</nav>
  
<div class="container-fluid">
  <center><h2>THE GOOD LIFE = GOOD PEOPLE DOING GOOD THINGS/DEEDS FOR THE GOOD OF ALL</h2></center>
</div>

<!–– First Row  -->
<div class="container-fluid">
    <center><h3> <strong>WANT TO LIVE THE GOOD LIFE?</strong> Simply do a <strong>GOOD DEED</strong> or <strong>SIMPLE ACT OF KINDNESS</strong> and you will be living <strong>THE GOOD LIFE</strong> in those moments.</h3></center>
    <div>
</div>
<div>
      <div class="cfloats">  
          <div class="ilbox" style = "float: left">
              <p> <center><strong>Greetings and Welcome</strong></br></br></center> <center><strong>Thank you for coming!</strong></br></br></center> <strong>Want to hear some GOOD NEWS? &#128526</strong></br></br>You are in the right place! </br></br>We are all about inspiring and spreading kindness </br>and magnifying the <strong>GOOD NEWS</strong> in life.</br></br> We are looking for team players, from everyone who comes here, to be awesome and do good deeds.</br></br> Feeling <strong>AWESOME</strong>? Want to <strong>LIVE THE GOOD LIFE?</strong> </br></br>Simply do good deeds and join a growing team of <strong>AWESOME people.</strong></br></br>To get started...click here: <a href="/mission" class="btn btn-primary btn-lg" role="button">Mission, SIte Map and Cool Suff</a> </p>
          </div>
          <div class="mbox" style = "float: right">
              <img class="img-fluid" src="{{usfiles[0]}}" alt="Journey of Kindness">
          </div>
      </div>
      
</div>

     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>   