<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS<br/> FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="container">
    <div class="row" id="row1">
<!–– Row 1 -->

      <div class="col-xs-1 col-sm-2 col-md-4" >
            <img src="{{usfiles[0]}}" alt="BeThatOne">
      </div>
      <div class="col-xs-1 col-sm-2 col-md-4" >
      </div>
      <div class="col-xs-1 col-sm-2 col-md-4" >
            <img src="{{usfiles[2]}}" alt="ImagineSm">
      </div>
      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>
    </div>
 



        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>