<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/poems_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <div class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </div>

<!–– FContainer  -->

<div class="container-fluid">
    <div class="row">
<!–– Row 6 -->
    <div class="poempanel" class="col-xs-12 col-sm-9 col-md-6" >
      <center><h1 id="magickind">Light Bulb Moments</h1></center>
      <img src="\static\assets\LightBulb.jpg" alt="Angel" height="300" width="300">

      <p>Many a teacher will attest to that moment a child gleams with understanding light.</br></br> 

      When after many attempts to think on something, their inner light shined bright.</br></br>

      When out of the darkness of not knowning, they came to understand.</br></br>

      It was if a light switch was turned on inside them by a tender loving hand.</br></br>

      "Epiphany" they call this magic, to which the child has aspired.</br></br>
      They know somehow deep inside that their magic was inspired.</br></br>

      Working hard had played its part and goodness was a key.</br></br>

      Then a missing puzzle piece of life was granted on to thee.</br></br> 

      Preparing the child for epiphanies, that will come in future days,</br> is the teacher of today, showing them kindness loving ways.</br></br> 

      To all teachers that inspire these moments of epiphany loving magic,</br> your efforts are truly of greatness, you are awesome and fantastic.</br></p>
    
      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/poem1" class="btn btn-primary btn-lg" role="button">The Magic Mirror of Kindness</a><a href="/poem2" class="btn btn-primary btn-lg" role="button">What Is Life For</a><a href="/poem3" class="btn btn-primary btn-lg" role="button">LightBulbMoments</a>


    </div>


        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>