<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/links_styles.css">
</head>
<body>      

<!–– Container  -->

  <!–– Top Banner section  -->
  <div class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </div>

<!–– First Row  -->
<div class="container-fluid">
    <center><h2 class="magickind">Links Page</h2></center>
    <center><h2 class="magickind">Choose from any of the Links below</h2></center>

</div>

<div class="container">
    <div >  
        <iframe class="mbox" name="iframe_a" src="" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen height="300" width="300"></iframe> </br>
    </div>
</div>

<center>
<table>
    <tr>
        <td><a href="/" class="btn btn-primary btn-lg" role="button">Home</a></td>
        <td><p>-This is our Home Page to restart from beginning</p></td>
    </tr>
    <tr>
        <td><a href="https://www.goodnewsnetwork.org/more/about-us/" class="btn btn-primary btn-lg" role="button" target="iframe_a">The Good News Network</a></td>
        <td><p>Positive News Stories from around the globe</p></td>
    </tr>    
    <tr>
        <td><a href="https://www.good-deeds-day.org/" class="btn btn-primary btn-lg" role="button" target="iframe_a">The Good Deeds Day Organization</a></td>
        <td><p>-Promotes Good Deeds Day each year-March 29, 2020 is Good Deeds Day</p></td>
    </tr>
    <tr>
        <td><a href="https://www.goodnet.org/about" class="btn btn-primary btn-lg" role="button" target="iframe_a">The Good Net</a></td>
        <td><p>GATEWAY TO DOING GOOD</p></td>
    </tr>

    <tr>
        <td><a href="https://www.thegoodcards.com/" class="btn btn-primary btn-lg" role="button" target="iframe_a">The Good Cards</a></td>
        <td><p>Promoting Kindness by gamifying it</p></td>
    </tr>
    <tr>
        <td><a href="https://www.spreadkindness.org/" class="btn btn-primary btn-lg" role="button" target="iframe_a">spreadKindness</a></td>
        <td><p>Share a smile. Be kind. Pass it on.</p></td>
    </tr>
    <tr>
        <td><a href="https://kindness-is-contagious.com/" class="btn btn-primary btn-lg" role="button" target="iframe_a">KINDNESS is CONTAGIOUS</a></td>
        <td><p>A feel-good documentary by David Gaz.</p></td>
    </tr>
 </table>
</center>

        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>    

</body>
</html>