<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/mission_styles.css">
</head>
<body>      

<!–– Container  -->

  <!–– Top Banner section  -->
  <div class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </div>

<!–– First Row  -->
<!–– First Row  -->
<div class="container-fluid">
    <center><h2 class="magickind">Media Page</h2></center>
    <center><h2 class="magickind">Choose from any of the Media below</h2></center>

</div>

<div class="container">
    <div class="img-container">
        <img class="img-responsive col-12 col-sm-10 col-md-8 col-lg-6" src="{{usfiles[0]}}" alt="Imagine A World where everyone did good deeds">
        </img>
    </div>
</div> 

<center>
<table>
    <tr>
        <td><a href="/" class="btn btn-primary btn-lg" role="button">Home</a></td>
        <td><p>-This is our Home Page to restart from beginning</p></td>
    </tr>
    <tr>
        <td><a href="/speech" class="btn btn-primary btn-lg" role="button">The Speech</a></td>
        <td><p>- This is The Good Life: Do Good Deeds speech given at a Toastmasters meeting on 08/22/2015</p></td>
    </tr>
    <tr>
        <td><a href="/poem1" class="btn btn-primary btn-lg" role="button">Poems</a></td>
        <td><p> - Various poems about doing Good Deeds and Kindness</p></td>
    </tr>
    <tr>
        <td><a href="/t2wolves" class="btn btn-primary btn-lg" role="button">Stories</a></td>
        <td><p> - Various stories about doing Good Deeds and Kindness</p></td>
    </tr>
    <tr>
        <td><a href="/gdvids" class="btn btn-primary btn-lg" role="button">Videos</a></td>
        <td><p> - Various videos about doing Good Deeds and Kindness</p></td>
    </tr>
    <tr>
        <td><a href="/didIoffer" class="btn btn-primary btn-lg" role="button">Collages</a></td>
        <td><p> - Various slogans/sayings about doing Good Deeds and Kindness</p></td>
    </tr>
 </table>
</center>

        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>    

</body>
</html>