<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/stories_styles.css">">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="container-fluid">
    <div class="row" id="row1">

<!–– Row 7 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">THANK YOU MISS PUT-PUT!!! ( Said with affection )</h1></center>
      <img src="\static\assets\farmmark.jpg" alt="Farmers Market" height="300" width="375">
      <p>It was Decemeber 2017. In a season where everywhere we see the colors Red and Green, I am ashamed to admit, I was only seeing RED!</br></br>

      It was one of those days where nothing went right. </br>

      To top off matters, just when it seemed things couldn't get any worse, I encountered Miss Put Put.</br>She was an old good-natured lady, with a warm smile, and the <strong>speed of molasses</strong>, on line at the Farmers Market ahead of me.</br></br>

      "Why? Why was this lady in front of me? Can she move any faster?" were my thoughts.</br>

      Finally she empties her basket onto the conveyor belt. What does she do next? </br></br>

      The stack of baskets below didn't have any room. She takes them out, moving very slowly and brings them to the front bagging area!!!!......IT SEEMED LIKE FOREVER!!!</br></br>

      When she was done and it was my turn at the cashier, the cashier was lightning fast...VERY NICE!!</br></br>

      That was until, she flung my radishes and they went off the edge!!!!! </br></br>

      As the ANGER BUILT INSIDE ME, I proceeded to the end to retrieve my radishes from the floor.</br>
      I was all prepared to give this cashier A PIECE OF MY MIND.</br></br>

      WHAT DO I DISCOVER? The baskets Miss Put-Put moved, CAUGHT MY RADISHES !!!! </br></br>

      How could this be? How could she have known? She was just doing a <strong>good deed right?</strong></br></br>

      Moral: Don't be so quick to judge others...especially if you are having a bad day. </br></br>

      Thank you Miss Put-Put whoever you are!</p>

      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/t2wolves" class="btn btn-primary btn-lg" role="button">The Two Wolves</a><a href="/batam" class="btn btn-primary btn-lg" role="button">Buddha And The Angry Man</a><a href="/tstarfish" class="btn btn-primary btn-lg" role="button">The Boy And The Starfish</a><a href="/farm" class="btn btn-primary btn-lg" role="button">Miss Put-Put</a><a href="/tpc1" class="btn btn-primary btn-lg" role="button">The Phone Call</a>

    </div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>