<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/mission_styles.css">
</head>
<body>      

<!–– Container  -->

  <!–– Top Banner section  -->
  <div class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </div>

<!–– First Row  -->
<!–– First Row  -->
<div class="container-fluid">
    <center><h2 class="magickind">Mission Statement: To focus on the good in life. </h2></center>
    <center><h2 class="magickind">To magnify the good, and to inspire more people to think about and do good more often.</h2></center>

</div>

<div class="container">
    <div class="img-container">
        <img class="img-responsive col-12 col-sm-10 col-md-8 col-lg-6" src="{{usfiles[0]}}" alt="Imagine A World where everyone did good deeds">
        </img>
    </div>
</div> 

<center>
<table>
    <tr>
        <td><a href="/" class="btn btn-primary btn-lg" role="button">Home</a></td>
        <td><p>-This is our Home Page to restart from beginning</p></td>
    </tr>
    <tr>
        <td><a href="/award" class="btn btn-primary btn-lg" role="button">The Award</a></td>
        <td><p> - Recognize someone for the good that they do. Super!</p></td>
    </tr>
    <tr>
        <td><a href="/cert" class="btn btn-primary btn-lg" role="button">The Certificate</a></td>
        <td><p> - Our gift to you so you can go out and be awesome. 3 good deeds to start. Then do it as often as you like to be super awesome. &#128526</p></td>
    </tr>  
    <tr>
        <td><a href="/mygooddeed" class="btn btn-primary btn-lg" role="button">Good Ideas</a></td>
        <td><p> - Need a few Good Deeds Ideas?-Good Deeds Idea Generator</p></td>
    </tr>



    <tr>
        <td><a href="/media" class="btn btn-primary btn-lg" role="button">Media</a></td>
        <td><p> - Various forms of media, (speech, poems, stories, videos) about doing Good Deeds and Kindness</p></td>
    </tr>
    <tr>
        <td><a href="/speech" class="btn btn-primary btn-lg" role="button">The Speech</a></td>
        <td><p>- This is The Good Life: Do Good Deeds speech given at a Toastmasters meeting on 08/22/2015</p></td>
    </tr>
    <tr>
    <td><a href="/su" class="btn btn-primary btn-lg" role="button">Sign Up!</a></td>
    <td><p>Sign Up Page</p></td>
    </tr>
 </table>
</center>

        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>    

</body>
</html>