<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>
<!–– First Row  -->
<div class="container-fluid">
    <center><h1 id="magickind">Mission Statement: To inspire more people to think about and do good deeds more often.</h1></center>
    <div>
</div>


<!–– Container  -->

<div>
      <div class="cfloats">  
        <div class="ilbox" style = "float: left">
            <a href="/" class="btn btn-primary btn-lg" role="button" style = "float: left">Home</a><p> This is our Home Page to restart from beginning</p></br>
            <a href="/speech" class="btn btn-primary btn-lg" role="button" style = "float: left">The Speech</a><p> This is The Good Life: Do Good Deeds speech given at a Toastmasters meeting on 08/22/2015</p></br>

            <a href="/cert" class="btn btn-primary btn-lg" role="button" style = "float: left">Cert of Awesomeness</a><p> This is our gift to you so you can go out and be awesome. Just do three good deeds to start. Then do it as often as you like to be super awesome. &#128526</p></br>

            <a href="/poem1" class="btn btn-primary btn-lg" role="button" style = "float: left">Poems</a><p> Various poems about doing Good Deeds and Kindness</p></br>

            <a href="/t2wolves" class="btn btn-primary btn-lg" role="button" style = "float: left">Stories</a><p> Various stories about doing Good Deeds and Kindness</p></br>

            <a href="/gdlinks" class="btn btn-primary btn-lg" role="button" style = "float: left">Links</a><p> Various videos about doing Good Deeds and Kindness</p></br>

            <a href="/didIoffer" class="btn btn-primary btn-lg" role="button" style = "float: left">Collages</a><p> Various slogans/sayings about doing Good Deeds and Kindness</p>
      </div>
          <div class="mbox" style = "float: right">
              <img class="img-fluid" src="{{usfiles[0]}}" alt="Imagine A World where everyone did good deeds">
          </div>
      </div>
      
</div>
 
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>      