<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>      

<!–– Container  -->

  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– First Row  -->
<div class="container-fluid">
    <center><h3><strong>THE GOOD LIFE: Do Good Deeds Speech</strong> Toastmasters speech on August 22, 2015. <strong>Purpose: </strong>To inspire people to be Awesome and Do Good Deeds</h3></center>          
</div>
<div class="container" style="text-align: center">
    <div class="resp-container" id="row3">  

        <iframe class="resp-iframe" src="https://www.youtube.com/embed/dve7Pgd4_gA" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe> 

        <div class="btn-group" style="display: inline-block">
          <center><p> To claim your gift: click the Certificate of Awesomeness </br>button below to go to that page and print/download a certificate</p>
           <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>

           <a href="/speech" class="btn btn-primary btn-lg" role="button">The Speech</a>

           <a href="/cert" class="btn btn-primary btn-lg" role="button">Cert of Awesomeness</a>

           <a href="/poem1" class="btn btn-primary btn-lg" role="button">Poems</a>

           <a href="/t2wolves" class="btn btn-primary btn-lg" role="button">Stories</a>

           <a href="/gdlinks" class="btn btn-primary btn-lg" role="button">Links</a>

           <a href="/didIoffer" class="btn btn-primary btn-lg" role="button">Collages</a></center>
        </div>
    </div>
</div>

        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>    

</body>
</html>