<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/thankyou_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <div class="bgscrn good-life__header">
    <center><h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2></center>
  </div>
  <div class="smscrn good-life__header" id="myHeader">
  </center><h3>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h3></center>
  </div>

<!–– Container  -->

<div class="container">
    <div>

<!–– Row 7 -->
    <div class="content" class="col-xs-12 col-sm-6 col-md-4" >
                <center><h2>Thank you for signing up!</h2></center>
                <center>
                  <img class= "bgscrn" src="\static\assets\THANKYOU.jpg" alt="Thank You!" height="300" width="300">
                  <h4 class= "smscrn" ></h4>
                </center></br>

                <center><p class="poempanel">Welcome {{fname}} !

                  Thank for signing up!</br>

                  Your information has been stored in our database.</br>

                  We will be happy to reach out with any news about future deploys.</br></br>

                  Give yourself a hand for taking a major step in your journey of AWESOMENESS.</br>

                  People like you truly make the world a better place.</br></br>

                  Thank you!</p></center>

                  <div class="cfloats">
                    <center>
                      <a href="/" class="smscrn btn btn-primary" role="button">Home</a>
          
                      <a href="/" class="bgscrn btn btn-primary btn-lg" role="button">Home</a>
          
                    </center>
                  </div>

    </div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>     