<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/stories_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="container-fluid">
    <div class="row" id="row1">

<!–– Row 7 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">The Two Wolves</h1></center>
      <img src="\static\assets\TwoWolves.jpg" alt="Angel" height="350" width="350">
      <p>An old Cherokee Indian chief was teaching his grandson about life.</br></br>

      “A fight is going on inside me,” he told the young boy, “a fight between two wolves.</br></br>

      One is evil, full of anger, sorrow, regret, greed, self-pity and false pride.</br></br>

      The other is good, full of joy, peace, love, humility, kindness and faith.”</br></br>

      “This same fight is going on inside of you, grandson…and inside of every other person on the face of this earth.”</br></br>

      The grandson ponders this for a moment and then asks, “Grandfather, which wolf will win?”</br></br>

      The old man smiled and simply said, “The one you feed.”</p>

      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/t2wolves" class="btn btn-primary btn-lg" role="button">The Two Wolves</a><a href="/batam" class="btn btn-primary btn-lg" role="button">Buddha And The Angry Man</a><a href="/tstarfish" class="btn btn-primary btn-lg" role="button">The Boy And The Starfish</a><a href="/farm" class="btn btn-primary btn-lg" role="button">Miss Put-Put</a><a href="/tpc1" class="btn btn-primary btn-lg" role="button">The Phone Call</a>

    </div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>      