<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/stories_styles.css">">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– FContainer  -->

<div class="container-fluid">
    <div class="row">
      <!–– Row 9 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">The Phone Call</h1></center>      

      <p>A wave of love came over all the people. People with illnesses for years were being healed and even the most bitter people started loving.</br></br>

      The woman's own daughter, in the hospital with an unknown fatal illness, suddenly cured.</br></br>

      The more people loved, the better the machines worked. More and more machines were built.</br></br>

      The man asked, "That sounds great, so why are you calling?"</br></br>

      She explained how things had to happen for the future magic to occur. </br></br>

      He will go out and speak with many and to his surprise, others had already written about this very call.</br></br>

      It all rests on someone they don't know, on a day they don't know, from a location they don't know and anyone can be the reason for the great discovery.</br></br>

      It seems that we, the people of the 21st century, are the key, and it will come down to some good deed one of us do or did. </br>

      We strongly feel it is the reason that somehow we were inspired to do this story.</br></br>

      So we ask, "Could the great discovery of the future be because of something you did or will do?</br></br>

      How awesome would that be? <p>

      <center> Page 3 </center>
       <a href="/tpc1" class="btn btn-primary btn-lg" role="button">The Phone Call pg1</a><a href="/tpc2" class="btn btn-primary btn-lg" role="button">The Phone Call pg2</a><a href="/tpc3" class="btn btn-primary btn-lg" role="button">The Phone Call pg3</a><a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/t2wolves" class="btn btn-primary btn-lg" role="button">The Two Wolves</a><a href="/tstarfish" class="btn btn-primary btn-lg" role="button">The Boy And The Starfish</a><a href="/batam" class="btn btn-primary btn-lg" role="button">Buddha And The Angry Man</a><a href="/farm" class="btn btn-primary btn-lg" role="button">Miss Put-Put</a>
      
    </div>
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>