<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="container-fluid">
    <div class="row" id="row1">

<!–– Row 7 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">The Phone Call</h1></center>

      <p>This story you are about to experience is something we believe to be factual, yet it hasn't actually happened yet.</br></br>

      It is a story we feel we have known all our lives and yet we haven't read or heard of it before.</br></br>

      It is a story about an obscure phone call received by a homeless man, thought to be mute, on a phone, thought to be out of order. </br></br>

      What was communinicated is nothing short of amazing.</br></br>

      The man receiving the call, broke down expressing such grattitude for life, he could not stop telling everyone he met.</br> He was also suddenly cured and no longer mute.</br></br>

      What could have caused such an event? Was it a hoax?</br></br>

      We hardly think so, because even as we tell this story from behind our keyboard, it feels like some unknown force is spoon-feeding this story to us.</br></br>

      The man receiving the call that day, described a woman with the most beautiful voice.  </br></br>

      He described her words as magical because each word filled him with intense love, grattitude and peace.<p>

      <center> Page 1 </center>
      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/t2wolves" class="btn btn-primary btn-lg" role="button">The Two Wolves</a><a href="/tstarfish" class="btn btn-primary btn-lg" role="button">The Boy And The Starfish</a><a href="/batam" class="btn btn-primary btn-lg" role="button">Buddha And The Angry Man</a><a href="/farm" class="btn btn-primary btn-lg" role="button">Miss Put-Put</a><a href="/tpc1" class="btn btn-primary btn-lg" role="button">The Phone Call pg1</a><a href="/tpc2" class="btn btn-primary btn-lg" role="button">The Phone Call pg2</a><a href="/tpc3" class="btn btn-primary btn-lg" role="button">The Phone Call pg3</a>

    </div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>