<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/stories_styles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– Container  -->

<div class="container-fluid">
    <div class="row" id="row1">

<!–– Row 7 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">The Starfish Story – Original story by Loren Eisley</h1></center>
      <img src="\static\assets\boystarfish.jpg" alt="boy and starfish" height="350" width="350">
      <p>One day a man was walking along the beach when he noticed a boy picking something up and gently throwing it into the ocean.</br></br>
      Approaching the boy, he asked, “What are you doing?” </br></br>
      The youth replied, “Throwing starfish back into the ocean. The surf is up and the tide is going out. If I don’t throw them back, they’ll die.”</br></br>
      “Son,” the man said, “don’t you realize there are miles and miles of beach and hundreds of starfish? </br>You can’t make a difference!”</br></br>
      After listening politely, the boy bent down, picked up another starfish, and threw it back into the surf. </br></br>

      Then, smiling at the man, he said…” I made a difference for that one.”</p>

      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/t2wolves" class="btn btn-primary btn-lg" role="button">The Two Wolves</a><a href="/batam" class="btn btn-primary btn-lg" role="button">Buddha And The Angry Man</a><a href="/tstarfish" class="btn btn-primary btn-lg" role="button">The Boy And The Starfish</a><a href="/farm" class="btn btn-primary btn-lg" role="button">Miss Put-Put</a><a href="/tpc1" class="btn btn-primary btn-lg" role="button">The Phone Call</a>

    </div>     
   
        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>
</html>