<!DOCTYPE html>
<html lang="en">

<head>
  <title>THE GOOD LIFE!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style/links_styles.css">
</head>
<body>      

<!–– Container  -->

  <!–– Top Banner section  -->
  <div class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </div>
<div class="container">
    <div >  
        <iframe class="mbox" name="iframe_a" src="https://www.youtube.com/embed/O9UByLyOjBM" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe> </br>
    </div>
</div>
<div class="container">

    <div class = "panel col-12 col-lg-4">
          <a href="https://www.youtube.com/embed/O9UByLyOjBM?autoplay=1;rel=0" target="iframe_a">The Science of Doing Good</a></br></br>

          <a href="https://www.youtube.com/embed/wgVGel-XfWo?autoplay=1;rel=0" target="iframe_a">Good Deeds Day each April</a></br></br>

          <a href="https://www.youtube.com/embed/YYnWsAoGRPE?autoplay=1;rel=0" target="iframe_a">Kindness can be the norm</a></br></br>

          <a href="https://www.youtube.com/embed/90PUAMv7-DM?autoplay=1;rel=0" target="iframe_a">The Butterfly Effect of Kindness</a></br></br>

          <a href="https://player.vimeo.com/video/83176811?autoplay=1;rel=0" target="iframe_a">Kindness is Contagious</a></br>

          <h2 style="color: blue; margin-top: 10px; margin-bottom: 0;"> Click any of the links in these boxes</h2></br>

    </div>
    <div class = "panel col-12 col-lg-4">
          <a href="https://www.youtube.com/embed/D38S9o_6qnc?autoplay=1;rel=0" target="iframe_a">Powerful video Can't explain it just watch-perspective</a></br></br
          >

          <a href="https://www.youtube.com/embed/oHv6vTKD6lg?autoplay=1;rel=0" target="iframe_a">An Experiment in Gratitude | The Science of Happiness</a></br></br>

          <a href="https://www.youtube.com/embed/dve7Pgd4_gA?autoplay=1;rel=0" target="iframe_a">THE GOOD LIFE:</br>Do Good Deeds Speech</a></br></br>

          <a href="https://www.youtube.com/embed/BXAo_5voOP0?autoplay=1;rel=0" target="iframe_a">Kindness Counts: "Kindness is a Muscle" Sing-A-Long Lyric Music Video | Universal Kids</a></br></br>


    </div>
    <div class = "panel col-12 col-lg-4">

          <a href="https://www.youtube.com/embed/vDmaZYYgUqA?autoplay=1;rel=0" target="iframe_a">THE GOOD CARDS #HappinessInYourHands  www.thegoodcards.com</a></br></br>


          <a href="https://www.youtube.com/embed/ovj5dzMxzmc?autoplay=1;rel=0" target="iframe_a">Ripple - To The Good Samaritans In Our Lives: Thank You. // Viddsee.com</a></br></br>          

          <a href="https://www.youtube.com/embed/BRbRUQXdFlA?autoplay=1;rel=0" target="iframe_a">Why Is It Important To Be Kind To Others?</a></br></br>          

          <a href="https://www.youtube.com/embed/p7UUZo8Yh34?autoplay=1;rel=0" target="iframe_a">Incredible Acts Of Kindness Of People Paying it Forward</a></br></br>

    </div>
<div class="container">
    <div>
        <div class="btn-group">
          <center>
           <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>

           <a href="/speech" class="btn btn-primary btn-lg" role="button">The Speech</a>

           <a href="/cert" class="btn btn-primary btn-lg" role="button">The Certificate</a>

           <a href="/award" class="btn btn-primary btn-lg" role="button">The Award</a>

           <a href="/media" class="btn btn-primary btn-lg" role="button">Media</a>

          </center>
        </div>
    </div>
</div>

        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>    

</body>
</html>