<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE GOOD LIFE!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style/ustyles.css">
</head>
<body>      
  <!–– Top Banner section  -->
  <nav class="good-life__header">
    <h2>#THEGOODLIFE = GOOD PEOPLE DOING GOOD DEEDS/THINGS FOR THE GOOD OF ALL</h2>
  </nav>

<!–– FContainer  -->

<div class="container-fluid">
    <div class="row" id="row1">
<!–– Row 5 -->
    <div class="poempanel" class="col-xs-12 col-sm-6 col-md-4" >
      <center><h1 id="magickind">What Is This Life For?</h1></center>
      <img style="float: right" src="\static\assets\toys.jpg" alt="Toys" height="400" width="400">
      <p>Just about everyone has a theory of what this life is for.
      Some will state quite frankly, "It's about getting more!"</br></br>
      They tell you,"The one who passes with all the toys, will surely win the prize".</br>
      
      One wonders what prize that might be when the body dies.</br></br>
      
      Are we suddenly whisked away for a job well done? Or do those toys simply pass on to those who just begun?</br></br>

      Maybe it is about "giving more" to grow our inner light.</br> 
      Maybe kindness, love and joy make our souls shine bright.</br></br>

      Could there be a moral here, that by giving,</br> 
      we receive more than we ever did before?</br></br>

      Are kindness, love and joy the keys...to the universe's magic door?"</br></br>

      Could things like kindness, love, and joy stay with us all the way?</br>
      Could they even stay with us when we pass one day?</br></br>

      <strong>Maybe this inner light of kindness, love and joys, <u>is the master prize </u> to accumulate, instead of this life's toys!</strong></p> 

      <a href="/" class="btn btn-primary btn-lg" role="button">Home</a><a href="/poem1" class="btn btn-primary btn-lg" role="button">The Magic Mirror of Kindness</a><a href="/poem2" class="btn btn-primary btn-lg" role="button">What Is Life For</a><a href="/poem3" class="btn btn-primary btn-lg" role="button">LightBulbMoments</a>
    </div>


        <script src="../static/scripts/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/bootstrap.min.js"></script>
        <script src="../static/scripts/app.js"></script>
      

</body>